@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffc249;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container_event
{   
    align-self: center;
    max-width: 1750px;
    margin: 0 auto;
    padding: 20px;
}

.container_event h3
{
    color: #FF9B50;
    font-weight: 800;
    font-size: 21px;
}



/* Header (Banner) styles */
.banner {
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 200px 0;
    
}

.banner h1 {
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 5px;
    color: #ffc249;
    font-size: 48px;
    font-weight: 800;
}

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #FF9B50;
    font-weight: 400;
}

.cta-button {
    display: inline-block;
    background: #C63D2F;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 21px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ffc249;
}

/* Section styles (Leaderboards, Video Showcase, About) */
.section {
    background-color: #000000;
   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}

.section h2 {
    font-size: 28px;
    color: #ffc249;
    margin-bottom: 20px;
}

/* Leaderboards table styles */
.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #C63D2F;
}

/* Video section styles */
.body
{
    color: #ffc249;
}

/* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    padding: 0 8px;
  }

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }

/* Footer styles */
footer {
    background-color: #ffc249;
    color: #C63D2F;
    text-align: center;
    padding: 10px 0;
}
